<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
	<head>
		<title>集中认证&nbsp;-&nbsp;登陆</title>
	</head>
	<body>
		<h3>
			登陆
        </h3>
		<form action="logintoauth" method="post">
			<input type="hidden" name="gotoURL" value="$!{gotoUrl}" />
			<table>
				<tr>
					<td>
						账号:
					</td>
					<td>
						<input type="text" name="username" />$!{username-error}
					</td>
				</tr>
				<tr>
					<td>
						密码:
					</td>
					<td>
						<input type="password" name="password" />
					</td>
				</tr>
				<tr>
					<td>
						<input type="submit" value="登陆" />
					</td>
				</tr>
			</table>

		</form>
	</body>
</html>